* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

a {
    text-decoration: none;
}

.main {
    height: max-content;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play,
.hardness,
.showTimer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 9.5rem;
    height: 3.25rem;
    margin: 10px;
    background-color: #448AFF;
    border: 1px solid #448AFF;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}

.showTimer {
    visibility: hidden;
    width: max-content;
    padding: 0 4px;
    min-width: 9.5rem;
}

.harditems {
    text-align: center;
    position: absolute;
    padding-top: 10px;
    top: 40px;
    width: 100%;
    display: none;
    z-index: 101;
}

.hardness:hover .harditems,
.harditem:hover {
    display: block !important;
}

.harditem {
    border-bottom: .2px solid #393e46;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    background-color: #393e46;
    color: white;
}

.harditem:hover {
    transform: scale(1.05);
}

.flip-card {
    background-color: transparent;
    max-width: 85%;
    width: 15%;
    height: 100%;
    perspective: 1000px;
    margin: 8px;
    border-radius: 12px;
    /* display: grid;
    column-gap: 50px; */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.active {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgb(23, 126, 230);
    color: black;
}

.flip-card-back {
    /* background-color: dodgerblue;
    color: white; */
    transform: rotateY(180deg);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
    margin: 10px 20px;
}

.row {
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    max-height: 200px;
    margin-bottom: 12px;
}

.container {
    width: 100%;
    max-width: 1500px;
    height: 80vh;
    position: relative;
    display: none;
    column-gap: 50px;
}

.loading-container {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    background: rgba(115, 182, 190, 0.7);
    position: fixed;
    z-index: 100;
}

.loading {
    width: 100%;
    height: 100%;
    position: relative;
    top: 350px;
    text-align: center;
    font-size: 3rem;
}

.modal-back {
    background-color: rgb(71, 141, 148);
    z-index: 99;
}

.modal {
    margin-top: 80px;
    display: none;
    justify-content: space-around;
    align-items: space-around;
    width: 50%;
}

.modal-wrapper {
    width: 100%;
    height: 30vh;
    background-color: rgb(85, 188, 202);
    border: 1px solid #44caff;
    border-radius: 8px;
    display: block;
    text-align: center;
    z-index: 100;
    color: white;
}

.modal-title {
    height: 40px;
    position: relative;
    top: 10px;
}

.modal-text {
    padding: 10px;
    margin: 20px;
}

.modal-wrapper button {
    width: 3.5rem;
    height: 2rem;
    background-color: #1c7888;
    border-radius: 8px;
    font-size: 16px;
    border: .5px solid #5aacdb;
    color: white;
}

hr {
    width: 70%;
    position: relative;
    left: 15%;
}

.how-to-container {
    width: 50%;
    height: 45vh;
    max-height: 45vh;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 12px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 3rem;
    flex-direction: column;
}

.how-to-title {
    text-align: center;
    font-size: 1.65rem;
}

.how-to-text {
    font-size: 1.15rem;
}