* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.play,
.hardness {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 10.5rem;
    height: 4.25rem;
    margin: 15px;
    background-color: #448AFF;
    border: 1px solid #448AFF;
    border-radius: 8px;
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    cursor: pointer;
}

.showTimer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    width: 10.5rem;
    height: 4.25rem;
    margin: 15px;
    background-color: #448AFF;
    border: 1px solid #448AFF;
    border-radius: 8px;
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.harditems {
    text-align: center;
    position: absolute;
    padding-top: 10px;
    top: 60px;
    left: 10%;
    transform: translateX(-75%);
    width: 10%;
    display: none;
}

.hardness:hover .harditems,
.harditem:hover {
    display: block !important;
}

.harditem {
    border-bottom: .2px solid #393e46;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    background-color: #393e46;
    color: white;
}

.harditem:hover {
    transform: scale(1.05);
}

.flip-card {
    background-color: transparent;
    max-width: 85%;
    width: 85%;
    height: 100%;
    border: 1px solid #F5F5F5;
    perspective: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.active {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    margin: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: dodgerblue;
    color: black;
}

.flip-card-back {
    /* background-color: dodgerblue;
    color: white; */
    transform: rotateY(180deg);
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px;
    margin: 15px 25px;
}

.row {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    max-height: 200px;
}

.container {
    background-color: white;
    width: 100%;
    max-width: 1500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}